# Eclipse & Java Metadata
.metadata/
.settings/
.classpath
.project
*.class
*.log

# Spring Boot / Maven Compiled Files
backend/target/
backend/.mvn/
*.jar
*.war

# VS Code Metadata
.vscode/

# OS Hidden Files
.DS_Store
Thumbs.db